@font-face {
    font-family: 'pepper_fontregular';
    src: url('./fonts/pepperfont-webfont.woff2') format('woff2'), url('./fonts/pepperfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    /* Make everything unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'pepper_fontregular';
}


/*IE9*/

*::selection {
    background-color: transparent;
}

*::-moz-selection {
    background-color: transparent;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 100px;
    color: white;
}

p {
    color: white;
    font-weight: 300;
}

.bubbles {
    /*    width: 45% !important;*/
    margin: 0% 6%;
}

.spacer {
    margin: 20px 0;
}

.inline {
    display: inline-block;
}

.image {
    display: block;
}

html {
    width: 100%;
    min-height: 100%;
}


/*###*/

/*header*/

/*###*/

#header {
    width: 100%;
    height: 12.5%;
    position: fixed;
    top: 0%;
    z-index: 1;
}

#headerContent {
    margin: 0;
    position: relative;
    top: 5%;
    left: 50%;
}

#navigationButtons {
    margin-left: 0%;
    position: relative;
    height: 100%;
}

.btn.home {
    background-image: url('../images/ht/header/btnHome_b.png');
    float: left;
}

.btn.back {
    background-image: url('../images/ht/header/btnBack_b.png');
    margin-left: 7%;
}

#navigationButtons .btn {
    width: 47px;
    height: 51px;
    position: fixed;
    top: 3%;
    left: 2%;
    background-position: center;
    background-repeat: no-repeat;
}

.headerText {
    font-size: 35px;
    margin: 0%;
    position: fixed;
    top: 8%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#headerLogo {
    position: relative;
    /*
    top: 3%;
    right: 3%;
*/
}

.companyLogo {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 20%;
}


/*###*/

/*main*/

/*###*/

#main {
    width: 100%;
    height: 75%;
}

#topContent {
    position: relative;
    margin-top: 8%;
    width: 110%;
}

#content {
    margin: 0% 3%;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: table;
}

#btn1 {
    margin-left: -9.7%;
}

#spacer {
    margin: 10px 0;
}

#inlayImage {
    /*    background-image: url('../images/ht/ht.jpg');*/
    /*    background-color: aquamarine;*/
    top: 0px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: fixed;
    /*    z-index: 0;*/
}

#bgImage {
    width: 100%;
}


/*###*/

/*footer*/

/*###*/

#footer {
    width: 100%;
    position: fixed;
    bottom: 0%;
    height: 12.5%;
}

#footerLogo {
    padding: 20px 0 0 0;
    position: fixed;
    right: 4%;
    bottom: 5%;
    width: 10%;
}
